{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subbooks list</h1>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Createdat</th>
                <th>Updatedby</th>
                <th>Createdby</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subBook in subBooks %}
            <tr>
                <td><a href="{{ path('subbook_show', { 'id': subBook.id }) }}">{{ subBook.item }}</a></td>
                <td>{% if subBook.createdAt %}{{ subBook.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ subBook.updatedBy }}</td>
                <td>{{ subBook.createdBy }}</td>
                <td>{% if subBook.updatedAt %}{{ subBook.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ subBook.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subbook_show', { 'id': subBook.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subbook_edit', { 'id': subBook.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subbook_new') }}">Create a new subBook</a>
        </li>
    </ul>
{% endblock %}
