{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subbook</h1>

    <table>
        <tbody>
            <tr>
                <th>Item</th>
                <td>{{ subBook.item }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if subBook.createdAt %}{{ subBook.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ subBook.updatedBy }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ subBook.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if subBook.updatedAt %}{{ subBook.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ subBook.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subbook_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subbook_edit', { 'id': subBook.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
