{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content %}
    <div class="row-fluid">
        <div class="span6">
            <div class="tree" style="display: none;">
                <ul>
                    <li>
                        <a href="#">
                            {{ category.subject ~ ' - ' ~ category }}
                        </a>
                        <ul>
                            {% for book in category.books %}
                                <li>
                                    <a href="#">{{ book }}</a>
                                    <ul>
                                        <li data-book-id="{{ book.Id }}" class="book_properties">
                                            <a style="cursor: pointer;">المعلومات</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('brovas', { 'book_id': book.Id }) }}" target="_blank">المتابعة</a>
                                        </li>
                                        <li data-book-id="{{ book.Id }}" class="book_units">
                                            <a style="cursor: pointer;">الوحدات</a>
                                        </li>
                                        <li data-book-id="{{ book.Id }}" class="book_contents">
                                            <a style="cursor: pointer;">المحتويات</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <button data-category-id="{{ category.Id }}" class="add-book btn btn-primary edit-book pull-right">اضافة كتاب</button>
        </div>

        <div class="span6" id="ajax_container">

        </div>
    </div>


    <style>
        th {text-align: right;}
    </style>
{% endblock %}

