{% extends 'base.html.twig' %}

{% block body %}
    <div class="tree" style="display: none;">
        <ul>
            <li>
                <a href="#">
                    {{ year }}
                </a>
                <ul>
                    {% for term in year.terms %}
                        <li>
                            <a href="#">{{ term }}</a>
                            <ul>
                                {% for category in term.categories %}
                                    <li>
                                        <a href="#">{{ category }}</a>
                                        <ul>
                                            {% for level in category.levels %}
                                                <li>
                                                    <a href="#">{{ level }}</a>
                                                    <ul>
                                                        {% for subLevel in level.subLevels %}
                                                            <li>
                                                                <a href="#">{{ subLevel }}</a>
                                                                <ul>
                                                                    {% for subject in subLevel.subjects %}
                                                                        <li>
                                                                            <a href="#">{{ subject }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

