{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content %}
    {% if year != null %}
        <div class="tree" style="display: none;">
            <ul>
                <li>
                    <a href="#">
                        {{ year }}
                    </a>
                    <ul>
                        {% for term in year.terms %}
                            <li>
                                <a href="#">{{ term }}</a>
                                <ul>
                                    {% for level in term.levels %}
                                        <li>
                                            <a href="#">{{ level }}</a>
                                            <ul>
                                                {% for subLevel in level.subLevels %}
                                                    <li>
                                                        <a href="#">{{ subLevel }}</a>
                                                        <ul>
                                                            {% for subject in subLevel.subjects %}
                                                                <li>
                                                                    <a href="#">{{ subject }}</a>
                                                                    <ul>
                                                                        {% for category in subject.categories %}
                                                                            <li>
                                                                                <a href="{{ path('categories', { 'category_id': category.id }) }}" target="_blank">{{ category }}</a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

