{% extends 'base.html.twig' %}

{% block body %}
    <div class="tree" style="display: none;">
        <ul>
            <li>
                <a href="#">
                    {{ subject }}
                </a>
                <ul>
                    {% for book in subject.books %}
                        <li>
                            <a href="#">{{ book }}({{ book.BookType }})</a>
                            <ul>
                                {% for subBook in book.subBooks %}
                                    <li>
                                        <a href="{{ path('sub_books', { 'sub_book_id': subBook.id }) }}">{{ subBook }}({{ subBook.subBookType }})</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

