{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bookcontents list</h1>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bookContent in bookContents %}
            <tr>
                <td><a href="{{ path('bookcontent_show', { 'id': bookContent.id }) }}">{{ bookContent.item }}</a></td>
                <td>{% if bookContent.createdAt %}{{ bookContent.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if bookContent.updatedAt %}{{ bookContent.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ bookContent.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bookcontent_show', { 'id': bookContent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bookcontent_edit', { 'id': bookContent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bookcontent_new') }}">Create a new bookContent</a>
        </li>
    </ul>
{% endblock %}
