<br/>
<form id="save-book-form" action="/book/edit_properties/{{ book.Id }}" method="POST">
    <div class="row-fluid">
        <div class="span11" dir="rtl">
            <div class="panel panel-info">
                <div class="panel-heading">وحدات الكتاب</div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <th>اسم الكتاب: </th>
                            <td>{{ form_widget(form.item) }}</td>
                        </tr>
                        <tr>
                            <th>الكود: </th>
                            <td>{{ form_widget(form.book_code) }}</td>
                        </tr>
                        <tr>
                            <th>السعر: </th>
                            <td>{{ form_widget(form.price) }}</td>
                        </tr>
                        <tr>
                            <th>اللون: </th>
                            <td>{{ form_widget(form.color) }}</td>
                        </tr>
                        <tr>
                            <th>الصفحات</th>
                            <td>{{ form_widget(form.pages) }}</td>
                        </tr>
                        <tr>
                            <th>تاريخ الارسال الي الطباعة: </th>
                            <td>{{ form_widget(form.sentToPrintDate, { 'attr' : {'class' : 'date_small' } }) }}</td>
                        </tr>
                        <tr>
                            <th>تاريخ الانتهاء من الطباعة: </th>
                            <td>{{ form_widget(form.finishPrintDate, { 'attr' : {'class' : 'date_small' } }) }}</td>
                        </tr>
                        <tr>
                            <th>المسئول: </th>
                            <td>{{ form_widget(form.responsibility) }}</td>
                        </tr>
                        <input type="hidden" value="{{ book.category.id }}" id="appbundle_book_category" name="appbundle_book[category]" />
                    </table>

                    <div class="pull-left">
                        <button type="button" data-book-id="{{ book.Id }}" class="btn btn-primary save-book">حفظ</button>
                        <button type="button" data-book-id="{{ book.Id }}" class="btn-info btn cancel-save-book">الغاء</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>