{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book</h1>

    <table>
        <tbody>
            <tr>
                <th>Item</th>
                <td>{{ book.item }}</td>
            </tr>
            <tr>
                <th>Book_code</th>
                <td>{{ book.bookcode }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ book.color }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ book.pages }}</td>
            </tr>
            <tr>
                <th>Senttoprintdate</th>
                <td>{% if book.sentToPrintDate %}{{ book.sentToPrintDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finishprintdate</th>
                <td>{% if book.finishPrintDate %}{{ book.finishPrintDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if book.createdAt %}{{ book.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if book.updatedAt %}{{ book.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('book_edit', { 'id': book.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
