{% extends 'base.html.twig' %}

{% block body %}
    <h1>Term</h1>

    <table>
        <tbody>
            <tr>
                <th>Item</th>
                <td>{{ term.item }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ term.createdBy }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if term.createdAt %}{{ term.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ term.updatedBy }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if term.updatedAt %}{{ term.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ term.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('term_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('term_edit', { 'id': term.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
