{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sublevel</h1>

    <table>
        <tbody>
            <tr>
                <th>Item</th>
                <td>{{ subLevel.item }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ subLevel.createdBy }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if subLevel.createdAt %}{{ subLevel.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ subLevel.updatedBy }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if subLevel.updatedAt %}{{ subLevel.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ subLevel.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sublevel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sublevel_edit', { 'id': subLevel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
