{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booktypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bookType in bookTypes %}
            <tr>
                <td><a href="{{ path('booktype_show', { 'id': bookType.id }) }}">{{ bookType.item }}</a></td>
                <td>{{ bookType.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('booktype_show', { 'id': bookType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('booktype_edit', { 'id': bookType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('booktype_new') }}">Create a new bookType</a>
        </li>
    </ul>
{% endblock %}
